body, html {
    height: 100%;
    margin: 0;
}



body {
    background-image: url("/img/background4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.switch_button {
    margin-top: 2%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;

    color: #fff;
    background: linear-gradient(to right, #4CAF50, #45a049);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
  }
  
.switch_button:hover {
    background: linear-gradient(to right, #45a049, #4CAF50);
}



.custom-font {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    mix-blend-mode: difference;
}

.container {
    display: flex;
    flex-direction: column;
    height: 92%;
    overflow: auto;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

