body, html {
    height: 100%;
    margin: 0;
}


body {
    background-image: url("/img/background4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #ffffff;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(to right, #4CAF50, #45a049);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
  }
  
.button:hover {
    background: linear-gradient(to right, #45a049, #4CAF50);
}

input[type="button"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(to right, #4CAF50, #45a049);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
  }
  
input[type="button"]:hover {
    background: linear-gradient(to right, #45a049, #4CAF50);
}

.input-box {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.input-box:hover,
.input-box:focus {
    border-color: #2980b9;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    top: 0;
    left: 0;
    background: linear-gradient(to right, rgb(6, 1, 50), #23617e ); /* 背景渐变色 */
    height: 8%;

}

.top .user {
    display: flex;
    flex-direction: row;
    top: 0;
    right: 0;
    height: 100%;
    width: 15%;
    background: linear-gradient(to right,#23617e, rgb(6, 1, 50)); /* 背景渐变色 */
}

.top .user .avatar {
    max-height: 100%;
    margin-right: 5%;
}

.top .top_left {
    margin-left: 1%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #000000;
}

.result {
    display: flex;
    flex-direction: column;
}