body, html {
    height: 100%;
    margin: 0;
}



body {
    background-image: url("/img/background4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}



.main {
    margin-top: 10%;
}

.custom-font {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}