<!DOCTYPE html>
<head>
    <title>我的</title>
    <script src="/js/my.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.12.0/js/md5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>

<body>
    <div class = "top">
        <div class = "top_left">
            <h1 onclick="home()">机票售票系统</h1>
        </div>
        <div class = "user">
            <img class="avatar" src="/img/chxw.png" onclick="window.location.href = '/admin'">
            <p>你好：{{ username }} 
            <button onclick="logout()">注销</button>
            </p>
        </div>
    </div>
    

    <div class="container">
        <div class="left">
            <button class="switch_button" onclick="document.querySelector('.p2').style.display = 'none';document.querySelector('.p1').style.display = 'block'">航班信息</button>
            <button class="switch_button" onclick="document.querySelector('.p2').style.display = 'block';document.querySelector('.p1').style.display = 'none'">用户信息</button>
        </div>

        <div class="p1">
            <div class="flight_info">
                    <p>我的订单</p>
                    <table>
                        <thead>
                            <tr>
                                <td>航班号</td>
                                <td>数量</td>
                                <td>支付时间</td>
                                <td>点击取消</td>
                            </tr>
                        </thead>

                        <tbody>
                            {% for i in pay_list %}
                            <tr>
                                <td id="num_{{i.2}}">{{i.0}}</td>
                                <td>{{i.1}}</td>
                                <td id="time_{{i.2}}">{{i.2}}</td>
                                <td><input type="button" value="取消订单" onclick="drop_pay({{i.2}})"></td>
                            </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
            </div>
        </div>

        <div class="p2">
            <div class="user_info">
                <div>
                    <p>账户信息</p>
                    <table>
                        <thead>
                            <tr>
                                <td>UID</td>
                                <td>用户名</td>
                                <td>旧密码</td>
                                <td>新密码</td>
                                <td>重复密码</td>
                                <td>点击提交</td>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr>
                                <td><input type="text" placeholder="{{uid}}" value="{{uid}}" id="uid" readonly class="user_info" autocomplete="off"></td>
                                <td><input type="text" placeholder="{{username}}" value="{{username}}" id="username" class="user_info" autocomplete="off"></td>
                                <td><input type="password" placeholder="旧密码" id="old_password" class="user_info" autocomplete="off"></td>
                                <td><input type="password" placeholder="新密码" id="new_password" class="user_info" autocomplete="off"></td>
                                <td><input type="password" placeholder="重复密码" id="re_new_password" class="user_info" autocomplete="off"></td>
                                <td><input type="button" value="修改" class="user_info" onclick="user_change()"></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
    
    <script>
        get_time_3 = (e) => {
            let time = getE(`time_${e}`);

            let formatter = new Intl.DateTimeFormat('zh-CN', {
                year: 'numeric',
                month: '2-digit',
                day: '2-digit',
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit',
                timeZone: 'Asia/Shanghai'
            });

            let date = formatter.format(parseInt(e, 10)).slice(0, 16)
            console.log(date)
            time.innerHTML = date
        }

        {% for i in pay_list %}
            get_time_3({{i.2}})
        {% endfor %}
    </script>

</body>


