<!DOCTYPE html>
<head>
    <title>管理</title>
    <script src="/js/my.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.12.0/js/md5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/my.css">
</head>
<body>
    <div>
        {% for flight in flights %}
        <div>
            <p>
                <input type="text" placeholder="{{flight.0}}" value="{{flight.0}}" id="num_{{flight.0}}" class="flight_info" autocomplete="off">
                <input type="text" placeholder="{{flight.1}}" value="{{flight.1}}" id="leave_city_{{flight.0}}" class="flight_info" autocomplete="off">
                <input type="text" placeholder="{{flight.2}}" value="{{flight.2}}" id="arrive_city_{{flight.0}}" class="flight_info" autocomplete="off">
                <input type="text" placeholder="{{flight.3}}" value="{{flight.3}}" id="leave_airport_{{flight.0}}" class="flight_info" autocomplete="off">
                <input type="text" placeholder="{{flight.4}}" value="{{flight.4}}" id="arrive_airport_{{flight.0}}" class="flight_info" autocomplete="off">
                <input type="text" placeholder="{{flight.5}}" value="{{flight.5}}" id="leave_time_{{flight.0}}" class="flight_info" autocomplete="off">
                <input type="text" placeholder="{{flight.6}}" value="{{flight.6}}" id="arrive_time_{{flight.0}}" class="flight_info" autocomplete="off">
                <input type="text" placeholder="{{flight.7}}" value="{{flight.7}}" id="price_{{flight.0}}" class="flight_info" autocomplete="off">
                <input type="text" placeholder="{{flight.8}}" value="{{flight.8}}" id="capacity_{{flight.0}}" class="flight_info" autocomplete="off">
                <input type="text" placeholder="{{flight.9}}" value="{{flight.9}}" id="booked_{{flight.0}}" class="flight_info" autocomplete="off">
            </p>
            <p>
                <input type="button" value="修改" onclick="change_flight({{flight.0}}, 1)">
                <input type="button" value="删除" onclick="change_flight({{flight.0}}, 2)">
            </p>
        </div>
        {% endfor %}
        <div>
            <p>
                <input type="text" id="num_0" autocomplete="off">
                <input type="text" id="leave_city_0" autocomplete="off">
                <input type="text" id="arrive_city_0" autocomplete="off">
                <input type="text" id="leave_airport_0" autocomplete="off">
                <input type="text" id="arrive_airport_0" autocomplete="off">
                <input type="text" id="leave_time_0" autocomplete="off">
                <input type="text" id="arrive_time_0" autocomplete="off">
                <input type="text" id="price_0" autocomplete="off">
                <input type="text" id="capacity_0" autocomplete="off">
                <input type="text" id="booked_0" autocomplete="off">
            </p>
            <p>
                <input type="button" value="增加" onclick="change_flight(0, 0)">
            </p>
        </div>
    </div>

    <div>
        <div>
            {% for user in users %}
        <div>
            <p>
                <input type="text" placeholder="{{user.0}}" value="{{user.0}}" id="uid_{{user.0}}" class="user_info" readonly autocomplete="off">
                <input type="text" placeholder="{{user.1}}" value="{{user.1}}" id="username_{{user.0}}" class="user_info" autocomplete="off">
                <input type="password" placeholder="{{user.2}}" value="{{user.2}}" id="password_{{user.0}}" class="user_info" autocomplete="off">
                
                <label class="switch">
                    {% if user.3 %}
                    <input type="checkbox" value="{{user.3}}" id="admin_{{user.0}}" class="user_info" checked="true" autocomplete="off">
                    {% else %}
                    <input type="checkbox" value="{{user.3}}" id="admin_{{user.0}}" class="user_info" autocomplete="off">
                    {% endif %}
                    <span class="slider"></span>
                  </label>
            </p>
            <p>
                <input type="button" value="修改" onclick="change_user({{user.0}})">
            </p>
        </div>
        {% endfor %}
        </div>
    </div>
</body>