<!DOCTYPE html>
<head>

    <title>订单号 : {{uid}}-{{num}}-{{time}}</title>
    <script src="/js/my.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.12.0/js/md5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/all.css">
</head>

<body>
    <div>
        <p>确认订单 订单号 : <label id="uid">{{uid}}</label>-<label id="num">{{num}}</label>-<label id="time">{{time}}</label></p>
        <p><input type="text" placeholder="请输入整数" oninput="validInteger(this)" autocomplete="off" id="amount"></p>
        <p><input type="button" value="支付" onclick="pay()"></p>
    </div>
    <script>
        function validInteger(input) {
            input.value = input.value.replace(/[^\d]/g, ''); // 过滤非数字字符
          }
    </script>
</body>
