<!DOCTYPE html>
<head>
    {% if leave != "all" and leave != "null" and arrive != "all" and arrive != "null" %}

    <title>{{leave}} -> {{arrive}}</title>
    
    {% elif leave == "all" and arrive == "all" %}

    <title>所有航班</title>

    {% else %}

    <title>没有这个航班哦</title>

    {% endif %}
    <script src="/js/my.js"></script>
    <script src="https://cdn.bootcss.com/blueimp-md5/2.12.0/js/md5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/my.css">
</head>

<body>
{% block content %}

    <ul>
        {% if ifres == 0 and if_all == false %}
            <li>暂时没有这个航班哦，看看所有航班吧</li>
            <li>航班号|出发地|目的地|起飞机场|降落机场|起飞时间|降落时间|票价|票数|已订</li>
            {% for s in all %}
                <li>{{ s }} <input type="button" value="购买" onclick="buy({{s.0}})"></li>
            {% endfor %}
        {% elif ifres > 0 and if_all == false %}
                <li>航班号|出发地|目的地|起飞机场|降落机场|起飞时间|降落时间|票价|票数|已订</li>
            {% for s in result %}
                <li>{{ s }} <input type="button" value="购买" onclick="buy({{s.0}})"></li>
            {% endfor %}
        {% endif %}

        {% if if_all == true %}
                <li>航班号|出发地|目的地|起飞机场|降落机场|起飞时间|降落时间|票价|票数|已订</li>
            {% for s in all %}
                <li>{{ s }} <input type="button" value="购买" onclick="buy({{s.0}})"></li>
            {% endfor %}
        {% endif %}
    </ul>
    <input type="button" value="返回" id="return" onclick="home()">

{% endblock content %}
</body>
